@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://www.gradient-animator.com/ */
/* Styling for Header */
.title-gradient{
    /* Fallback: Set a background color. */
    background-color: teal;

    background: linear-gradient(270deg, #34b0d9, #3bc643, #0dddec, #f07909, #0f55eb);
    background-size: 1000% 1000%;
    background-repeat: repeat;

    -webkit-animation: title-gradient 17s ease infinite;
    -moz-animation: title-gradient 17s ease infinite;
    animation: title-gradient 17s ease infinite;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    font-weight: bold;
    font-style: italic;
}

@-webkit-keyframes title-gradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes title-gradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes title-gradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}